<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"]</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="~/img/favicon.ico" rel="icon">
    <link href="~/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Nunito:600,700,800,900" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="~/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/vendor/animate/animate.min.css" rel="stylesheet">
    <link href="~/vendor/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="~/vendor/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="~/css/hover-style.css" rel="stylesheet">
    <link href="@Url.Content("~/css/style.css")" rel="stylesheet" />

    <!-- Additional CSS and JS from your request -->
</head>
<body>
    @RenderBody()
    <img src="@Url.Content("~/img/doctor.jpg")" alt="About Dr. Johnson" />

    <!-- JavaScript Libraries -->
    <script src="@Url.Content("~/vendor/jquery/jquery.min.js")"></script>
    <script src="~/vendor/jquery/jquery-migrate.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/easing/easing.min.js"></script>
    <script src="~/vendor/stickyjs/sticky.js"></script>
    <script src="~/vendor/superfish/hoverIntent.js"></script>
    <script src="~/vendor/superfish/superfish.min.js"></script>
    <script src="~/vendor/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/vendor/touchSwipe/jquery.touchSwipe.min.js"></script>

    <!-- Main Javascript File -->
    <script src="~/js/main.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>